#CalcSection {
    overflow: hidden;
}

.sSection {
    width: 75%;
}

.Dollarsign {
    position: relative;
    display: inline;
}

.Dollarsign::before {
    content: '$';
    position: absolute;
    top: 0;
    left: 5px;
    z-index: 1;
}

.Dollarsign input {
    padding-left: 1em;
    font-size: 16px;
}

.floatLeft {
    float:left;
}

.marginAuto {
    margin-left: 17%;
}

.floatRight {
    float: right;
    margin-bottom: 20px;
}

.Button {
    background: #233;
    font-weight: bold;
    font-size: 14px;
    color: #9d9d9d;
    width: 270px;
    height: 34px;
    align-self: flex-end;
}

.Button:hover {
    cursor: pointer;
    color: #FFF
}

.Button:focus {
    outline: none;
}

.flexBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.group {
    display: inline-block;
}


